html, body {
   
    height: 100%;
    margin: 0;
  }

  .body{
    background-color: #27AE60;
  }
  
  .full-height {
    height: 100%;
    background: yellow;
  }

#score{
    width: 30%;
  margin : 0 , auto;
  color : green;
  float:left;

}
#lifes{
    width: auto;
    margin : 0 , auto;
    color : red;
    float:right;

  }

  #heart {
    align-self: baseline;
    height: auto;
    position: absolute;
    left:0;
    bottom:0;
    border: 3px solid green;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #startGame{
    margin: 0, auto;
    position: absolute;
    bottom:7%;
    right:10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }

  #newGame{
    margin: 0, auto;
    position: absolute;
    bottom:7%;
    right:10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display:none;
    
  }

  
  img{
      width: 32%;
      margin: 0 , auto;
      visibility: hidden;
     
  }
